<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Other Hibernate properties -->
        <property name="hibernate.show_sql">true</property> <!-- Enable SQL logging -->

        <!-- Session context for multithreading purposes -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Use HikariCP as the connection pool -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.connection.url">${db.connectionUrl}</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>

        <property name="hibernate.hikari.username">${db.username}</property>
        <property name="hibernate.hikari.password">${db.password}</property>
        <property name="hibernate.hikari.minimumIdle">5</property> <!-- Minimum number of idle connections -->
        <property name="hibernate.hikari.maximumPoolSize">20</property> <!-- Maximum number of connections -->

        <!-- Should perform database migration automatically. -->
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- SQL Mapping classes for Hibernate ORM. -->
        <mapping class="org.mudahmail.server.models.MailboxEntity"/>
        <mapping class="org.mudahmail.server.models.BiometricAuthEntity"/>
        <mapping class="org.mudahmail.server.models.EventsEntity"/>
        <mapping class="org.mudahmail.server.models.UserDataEntity"/>
    </session-factory>
</hibernate-configuration>
